<div class="container">
  <h1>Userss</h1>
  <div class="row row-eq-height small" *ngFor="let group of groups" >          
    <div *ngFor="let user of group" class="col-md-3 img-thumbnail" >
      <img *ngIf="user.avatar_url" src="{{user.avatar_url}}" alt="avatar" class="img-responsive" width="100" height="100">
      <img *ngIf="!user.avatar_url" src="../../../public/images/generic-avatar.png" alt="avatar" class="img-responsive" width="100" height="100">
      <ul>            
        <li>{{user.login}}</li>
        <li><a href="{{user.html_url}}" target="_blank">Github page</a></li>
        <li>{{user.repos_url}}</li>
      </ul>        
    </div>        
  </div>    
</div>